a{
    color:#f38014;
}
a:hover{
    color:#f38014;
}

.main_image{
    width : 100%;
}

.hackyourlife{
    padding-top: 10%;
    text-align: center;
}
.description{
    line-height: 35px;
    font-size:20px;
    font-family: 
}
.nanumsquare { font-family: 'NanumSquare', sans-serif !important; }


.staff{
    margin-top:20px;
    margin-bottom: 20px;
}
.staff-frame{
    width:100%;
}

.service div{
    text-align: center;
    padding-left:40px;
    
}
.service_img{
    margin:auto;
}

#noonnu{
    background-image: url('archive/3_whatwemade/1noonnu.png');
    min-width :200px;
    min-height: 200px;
    background-repeat: no-repeat;
    
}

#noonnu:hover{
    background-image: url('archive/3_whatwemade/1noonnu_on.png')
}   

#simpyo{
    background-image: url('archive/3_whatwemade/1right.png');
    min-width : 200px;
    min-height: 200px;
    background-repeat: no-repeat;

}

#simpyo:hover{
    background-image: url('archive/3_whatwemade/1right_on.png')
    
}

#kmuf{
    background-image: url('archive/3_whatwemade/1kmuf.png');
    min-width : 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    
}

#kmuf:hover{
    background-image: url('archive/3_whatwemade/1kmuf_on.png')
}


.schedule {
    text-align: center;
    padding: 60px 90px 200px 90px;

}

.footer {
    border-top:solid;
    border-width:40px;
    border-color:#FDD7AB;
    padding-top: 80px;
    
}


.left-footer{
    text-align: center;
    border-right:solid;
    border-color:#f38014;
    border-width:1px;
    height: 93px;
    font-size: 15px;
    color: #f38104;

}
    


.right-footer{
    font-size: 14px;
    color: #f38104;
    line-height:13px;
}



.montserrat { 
    font-family: 'Montserrat', sans-serif !important; 
    color: #FBA643;
    font-weight: bolder;
    font-size: 25px;
}